.vs/
Llama/obj/project.assets.json
Llama/obj/Llama.csproj.nuget.g.targets
Llama/obj/Llama.csproj.nuget.g.props
Llama/obj/Llama.csproj.nuget.cache
Llama/obj/Debug/netcoreapp2.1/Llama.csprojAssemblyReference.cache
Llama/obj/Debug/netcoreapp2.1/Llama.assets.cache
