@{
    ViewData["Title"] = null;
}


<div class="container landPageContainer ">

    <!--Land Page Game Theme --> 
    <audio autoplay loop src="~/audio/bensound-smallguitar.mp3">
    </audio>
           
       

   <!--Llama app Navbar -->
      <nav class="navbar navbar-default  navbar-fixed-top  ">
            <div class="container-fluid">
                    <div class="navbar-header ">
                    <a class="navbar-brand " href="#"><img src="~/images/llamaLogo.svg" class="imgLlamaLogo"></a>
                    </div>
                    <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a asp-controller="Users" asp-action="Create">Join</a></li>
                    <li><a href="#">Parents</a></li>
                    <li><a href="#">Help</a></li>
                    
                    </ul>
                   <form class="navbar-form navbar-right" asp-action="NamePageTest"  method="post">
                       <div class="form-group">
                        <label class="navbar-login-title">Player Login</label>
                        <input class="navbar-input" type="text" placeholder="username">
                        <input class="navbar-input" type="text" placeholder="password">
                        <button  type="submit"  class="btnPlayLogin">Go!</button>
                       </div>
                     </form>
                
            </div>
        </nav>
    <!--End of Llama app Navbar -->
    
    

    
        <!--<div class=" text-center imgLlamaBus">
            <img src="~/images/llamaBus.svg">
        </div>-->
        <div class="cloudsWrapper">
            <img src="~/images/cloudMed.svg" class="cloudMed">
            <img src="~/images/cloudSmall.svg" class="cloudSmall">
            <img src="~/images/cloudLarge.svg" class="cloudLarge">
        </div>
        <div class=" floorLandPage">
            
            <div class="imgLlamaBus imgBusBody">
                <img src="~/images/llamaBusBody.svg">
            </div>
            <div class="imgLlamaBus imgLlamaBusBackWheel">
                <img src="~/images/llamaBusWheel.svg">
            </div>
            <div class="imgLlamaBus imgLlamaBusFrontWheel">
                <img src="~/images/llamaBusWheel.svg">
            </div>
            <div class="groundLine">
            <img src="~/images/groundLineLarge.svg" class=" groundLineAnim"> 
            </div>
        </div>
        
        <div >
            <img src="~/images/landPageLlama.svg " class="imgLandPageLlama " >
        </div>
    
   <div class="text-center">
        <a asp-area="" asp-controller="Users" asp-action="Create"><button class="btnPlay">PLAY</button></a>
    </div>

    
    

    
</div>
