@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Llama.Models.User

<fieldset class="account">

    <h1>New User Registration</h1>

    <br />

    <form role="form" asp-action="Register">
        <div asp-validation-summary="All" class="input-validation-error"></div>

        <div class="form-group">
            <label asp-for="NickName"></label>
            <input type="text" asp-for="NickName" class="form-control" />
            <span asp-validation-for="NickName" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input type="email" asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Age"></label>
            <input type="text" asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Gender"></label>
            <input type="text" asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="field-validation-error"></span>
        </div>
        <br />
        <div>
            <label></label>
            <button type="submit" class="btn btn-primary"></button>
        </div>

    </form>
</fieldset>