@{
    ViewData["Title"] = "Character_name";
}

<div class="container custumizationContainer">
    <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <h1>Llama's acessories</h1>
            <div class="row text-center avatarCardsContainer">
                <div class="col-lg-4 col-sm-12 avatarImgCard">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail img-rounded" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 avatarImgCard">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 avatarImgCard">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 avatarImgCard">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 avatarImgCard">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12 avatarImgCard">
                   <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 avatarImgCard">
            <h1>Llama avatar </h1>
            <img class="img-fluid" src="~/images/llamaAvatarChoosen.png" alt="Llama img">
                    
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h1>Llama's colors </h1>
            <div class="row text-center">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="color">Color</a></li>
                    <li><a data-toggle="tab" href="#eyes">Eyes</a></li>
                    <li><a data-toggle="tab" href="#tail">Tail</a></li>
                </ul>
                <div class="tab-content">
                        <div id="color" class="tab-pane fade in active">
                            <h3>Color Options</h3>
                            
                        </div>
                        <div id="eyes" class="tab-pane fade">
                            <h3>Color Options</h3>
                            
                        </div>
                        <div id="tail" class="tab-pane fade">
                            <h3>Color Options</h3>
                            
                        </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-left nextBackButtonContainer">
            <button type="button" class="btn btn-primary btn-lg">Back</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-right nextBackButtonContainer">
            <button type="button" class="btn btn-success btn-lg">Next</button>
        </div>
    </div>
    

</div>