@{
    ViewData["Title"] = "Create_llama";
}

<div class="container">
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Llama options here</h1>
            <div class="row text-center">
                <div class="col-lg-4 col-sm-12 ">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail img-rounded" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12">
                   <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="~/images/avatarType.png" alt="Llama img">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Llama avatar here</h1>
            <img class="img-fluid img-thumbnail" src="~/images/avatarTypeChoosen.png" alt="Llama img">
                    
        </div>
    </div>
    <div class="row text-right">
        <a asp-area="" asp-controller="CreateLlama" asp-action="Custumization"><button type="button" class="btn btn-success">Next</button></a>
    </div>
    

</div>