@model Llama.Models.Avatar
<h1>Llama's Avatar Colors</h1>
<p>Llama's Body Color: @Model.BodyColor</p>
<p>Llama's Eye Color : @Model.EyesColor</p>
<p>Llama's Tail Color: @Model.TailColor</p>
<p>Llama's Ears Color: @Model.EarsColor</p>
