@{
    ViewData["Title"] = "Character_name";
}

<div class="container">
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Llama avatar here</h1>
            <img class="img-fluid img-thumbnail" src="~/images/avatarTypeChoosen.png" alt="Llama img">
                    
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Llama name options here</h1>
            <div class="row text-center">
                
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-left nextBackButtonContainer">
            <a asp-area="" asp-controller="CreateLlama" asp-action="Customization"><button type="button" class="btn btn-primary btn-lg">Back</button></a>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-right nextBackButtonContainer">
            <a asp-area="" asp-controller="CreateLlama" asp-action="Name"><button type="button" class="btn btn-success btn-lg">Next</button></a>
        </div>
    </div>
    

</div>