@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

<div  style="display:none;">
@ViewBag.userSvg
</div>
@inject UserManager<ApplicationUser> UserManager;

<div class="text-center">
        <a asp-area="" asp-controller="Game" asp-action="Playground"><button class="btnPlay">Play</button></a>
    </div>

@{

    var webRoot = @ViewBag.FilePath;

    var userSvgHtml = @ViewBag.userSvg;

    var userSprPath = @ViewBag.userSprSheetPath;

    var realUserId = ViewBag.IdAvatar;


    var filePath = System.IO.Path.Combine(webRoot, @userSprPath); 

            
   
   System.IO.File.WriteAllText(filePath, userSvgHtml);



}